# Exclude non-essential files from Composer dist archive
/.phpunit.cache    export-ignore
/tests             export-ignore
/phpunit.xml       export-ignore
/.gitignore        export-ignore
/.gitattributes    export-ignore
/CHANGELOG.md      export-ignore
